@import "/app/theme/mixins.scss";
@import "/app/theme/variables.scss";

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/assets/fonts/Montserrat-Regular.eot');
  src: url('/assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('/assets/fonts/Montserrat-Regular.ttf') format('truetype'),
    url('assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/assets/fonts/Montserrat-Bold.eot');
  src: url('/assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('/assets/fonts/Montserrat-Bold.ttf') format('truetype'),
    url('assets/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Regular';
  src: url('/assets/fonts/Muli-Regular.eot');
  src: url('/assets/fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Muli-Regular.woff2') format('woff2'),
    url('/assets/fonts/Muli-Regular.woff') format('woff'),
    url('/assets/fonts/Muli-Regular.ttf') format('truetype'),
    url('assets/fonts/Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('/assets/fonts/RobotoMono-Regular.eot');
  src: url('/assets/fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
    url('/assets/fonts/RobotoMono-Regular.woff') format('woff'),
    url('/assets/fonts/RobotoMono-Regular.ttf') format('truetype'),
    url('assets/fonts/RobotoMono-Regular.svg#RobotoMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Muli-Regular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $gray-dark;
  line-height: 1.15;
  min-height: 100vh;
}

*, :after, :before {
  box-sizing: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
}

a, button, input, textarea {
  outline: none;
}

textarea {
  overflow: auto;
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
}

h1, .h1 {
  font-size: 6.25rem;
  line-height: 1.2;
  letter-spacing: -4.9px;

  @include adaptive(768px) {
    font-size: 2.125rem;
    letter-spacing: -1.7px;
  }
}

h2, .h2 {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -2.5px;

  @include adaptive(768px) {
    font-size: 1.5rem;
  }
}

h3, .h3 {
  font-size: 1.75rem;
  line-height: 1.86;
  letter-spacing: -1.1px;

  @include adaptive(768px) {
    font-size: 1.125rem;
  }
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8%;

  @include adaptive(480px) {
    padding: 0 20px;
  }
}
