$green: #22d334;
$orange-light: #f2a027;
$orange: #f26027;
$blue: #0f46a0;
$blue-bright: #276cf2;
$gray-light: #f9f9f9;
$gray: #656b6f;
$gray-dark: #3c3d41;
$gray-deep: #252528;
$another-gray: #46474b;
$white: #ffffff;
$black: #000000;
