@import "./../theme/mixins.scss";
@import "./../theme/variables.scss";

.content-wrapper {
  padding: 130px 0 78px;

  @include adaptive(1025px) {
      padding: 60px 30px;
  }

  @include adaptive(769px) {
      padding: 60px 0 30px;
  }
}

h2 {
  text-align: center;
  margin-bottom: 10%;
}

.about-block {
  @include flex(space-between, flex-start);
  flex-wrap: wrap;
  @include adaptive(768px) {
    flex-direction: column;
  }

  &__item {
    width: 48%;
    margin-bottom: 8%;
    line-height: 1.5;

    @include adaptive(768px) {
      width: 100%;
      font-size: .875rem;
    }
  }

  .h2 {
    @include adaptive(768px) {
      font-size: 4rem;
    }
  }

  .h3 {
    margin-bottom: 20px;
    line-height: 1.1;
    text-transform: uppercase;

    @include adaptive(768px) {
      width: 100%;
    }
  }
}